@import './prose.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root { color-scheme: light; }
html, body { height: 100%; }
a { text-decoration: none; }
::selection { background: rgba(251, 191, 36, 0.35); }
